*{
    margin-bottom: 40rem;
    
}


header {
    margin: 100rem;
}

body {
    /* background-image:url("backgroundImage.PNG"); */
    background-position: center;
    background-size: 80%;
    background-repeat  : no-repeat;
    background-attachment: fixed;
    color:royalblue ;
  }
div {
    box-sizing: border-box;
  }
  #container {
    padding: 40px;
  }
  .block {
    width: 300px;
    height: 90px;
    padding: 1em;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    position: sticky;
    display: block;
  }
  .a {
    left: 562px;
    top: 488px;
    transform: rotate( 15deg );
    font-size: 13px;
  }
  .b {
    transform: skew(15deg, 25deg);
    font-size: 25px;
    left: 827px;
    top: 145px;
    transform: rotate( 70deg );
    
  }
  .c {
    left:577px;
    top:710px;
    font-size:10px;

  }
  .d {
    left: 584px;
    top: 494px;
    transform: rotate( 15deg );
  }
  .e{
    font-size: 20px;
    left: 450px;
    top: 605px;
    transform: rotate( 57deg );
  }
  .f {
    font-size: 22px;
    left: 709px;
    top: 200px;
    transform: rotate( 65deg );
  }
  .g {
    font-size: 20px;
    left: 402px;
    top: 425px;
    transform: rotate( 256deg );
  }
  .h{
      left:520px;
      top:365px;
      font-size:1px;
      transform: skew(10deg, 30deg);
  }
  .i{  
      left:685px;
      top:360px;
  }
  .j{
      left:570px;
      top:160px;
      font-size: 25px;
      transform: rotate( -33deg );
  }
  .k{
      left:600px;
      top:600px;
      font-size: 6px;
  }
  .l{
    left:700px;
    top:296px;
    transform: rotate( -14deg );
  }
  .m{
    left:488px;
    top:292px;
    transform: rotate( 16deg );
  }
  .n{
    left:690px;
    top:385px;
    transform: rotate( 16deg );
    font-size: 10px;
  }
  .o{
    left:680px;
    top:635px;
    font-size: 30px;
    transform:rotate( 120deg ) scale(1) skew(30deg, 10deg); 
  }
  .p{
    left:360px;
    top:360px;
    font-size: 30px;
    transform: rotate( -85deg );
  }
  .q{
    left:777px;
    top:360px;
    transform: rotate( 100deg );
    font-size: 16px;
  }
.r{
    left:680px;
    top:330px;
    transform: rotate( -30deg );
    font-size: 15px;
}
.s{
    left:565px;
    top:22px;
    transform: rotate( 10deg );
    font-size: 25px;
}
.t{
    left:665px;
    top:40px;
    font-size: 35px;
    transform: skew(40deg, 20deg);
}
.u{
    left:485px;
    top:370px;
    transform: scale(0.4);
}
.v{
    left:705px;
    top:370px;
    transform: scale(0.4);
}
.w{
    left:652px;
    top:391px;
    font-size: 10px;
    transform: rotate( 25deg );
}
.x{
    left:452px;
    top:65px;
    font-size: 25px;
    transform: rotate( -40deg ); 
}
.y{
    left:392px;
    top:429px;
    font-size: 10px;
    transform: rotate( -105deg ); 
}
.z{
    left:792px;
    top:359px;
    font-size: 18px;
    transform: rotate( 115deg ); 
}
.aa{
    left:698px;
    top:390px;
    transform: scale(0.6);  
}
.ab{
    left:642px;
    top:355px;
    font-size: 13px;
    transform: rotate( -20deg ); 
}
.ac{
    left:605px;
    top:100px;
    font-size: 30px;
    transform: rotate( -30deg ); 
}
.ad{
    left:663px;
    top:360px;
    font-size: 10px;
    transform: rotate( -46deg ); 
}
.ae{
    left:665px;
    top:276px;
    font-size: 25px;
    transform: rotate( -9deg ); 
}
.af{
    left:485px;
    top:384px;
    font-size: 10px;
}
.ag{
    left:514px;
    top:350px;
    font-size: 11px;
    transform: rotate( 30deg ); 
}
.ah{
    left:711px;
    top:343px;
    transform: rotate( 25deg ) scale(0.4) skew(0deg, 0deg); 
}
.ai{
    left:665px;
    top:347px;
    transform: rotate( -25deg ) scale(0.5) skew(0deg, 0deg); 
}
.aj{
    left:507px;
    top:299px;
    transform: rotate( 10deg ) scale(1.3) skew(10deg, 0deg); 
}
.ak{
    left:689px;
    top:373px;
    transform: rotate( 0deg ) scale(1.1) skew(0deg, 0deg); 
}
.al{
    left:729px;
    top:373px;
    transform: rotate( 65deg ) scale(1.5) skew(30deg, 10deg); 
}
.am{
    left:600px;
    top:708px;
    transform: rotate( 0deg) scale(1.6) skew(30deg, 0deg); 
}
.an{
    left:705px;
    top:389px;
    transform: rotate( 13deg) scale(1) skew(0deg, 0deg); 
    font-size: 10px;
}
.ao{
    left:530px;
    top:363px;
    transform: rotate( 19deg) scale(1.2) skew(10deg, 10deg); 
}
.ap{
    left:718px;
    top:380px;
    transform: rotate( 42deg) scale(1.2) skew(10deg, 10deg); 
}
.aq{
    left:700px;
    top:385px;
    transform: rotate( -5deg) scale(0.65) skew(20deg, 20deg); 
}
.ar{
    left:664px;
    top:470px;
    transform: rotate( -85deg) scale(0.35) skew(20deg, 20deg); 
}
.as{
    left:644px;
    top:502px;
    transform: rotate( -12deg) scale(0.7) skew(20deg, 0deg); 
}
.at{
    left:557px;
    top:474px;
    transform: rotate( -62deg) scale(0.3) skew(20deg, 0deg); 
}
.au{
    left:737px;
    top:399px;
    transform: rotate( 11deg) scale(0.6) skew(40deg, 20deg); 
}
.av{
    left:689px;
    top:509px;
    transform: rotate( 98deg) scale(2.4) skew(30deg, 10deg); 
}
.aw{
    left:706px;
    top:333px;
    transform: rotate( -3deg) scale(0.6) skew(30deg, 10deg); 
}
.ax{
    left:486px;
    top:363px;
    transform: rotate( 0deg) scale(0.8) skew(0deg, 0deg); 
}
.ay{
    left:486px;
    top:353px;
    transform: rotate( 0deg) scale(0.8) skew(0deg, 0deg); 
}
.az{
    left:532px;
    top:213px;
    transform: rotate( -100deg) scale(1.2) skew(35deg, 10deg); 
}
.ba{
    left:719px;
    top:290px;
    transform: rotate( -9deg) scale(1.4) skew(20deg, 5deg); 
}
.bb{
    left:577px;
    top:585px;
    transform: rotate( 0deg) scale(1.3) skew(0deg, 0deg); 
}
.bc{
    left:577px;
    top:169px;
    transform: rotate( -50deg) scale(2.3) skew(50deg, 0deg); 
}
.bd{
    left:707px;
    top:240px;
    transform: rotate( 50deg) scale(3.0) skew(50deg, 0deg); 
}
.be{
    left:634px;
    top:488px;
    transform: rotate( -7deg) scale(0.7) skew(20deg, 0deg); 
}
.bf{
    left:434px;
    top:308px;
    transform: rotate( -80deg) scale(1.4) skew(20deg, 0deg); 
}
.bg{
    left:474px;
    top:355px;
    transform: rotate( -17deg) scale(1.3) skew(30deg, 0deg); 
}
.ww{
    left:481px;
    top:285px;
    transform: rotate( 20deg) scale(0.9) skew(20deg, 0deg); 
}
.bh{
    left:600px;
    top:605px;
    transform: rotate( -10deg) scale(0.9) skew(0deg, 0deg); 
}
.bi{
    left:560px;
    top:592px;
    transform: rotate( 5deg) scale(1.1) skew(10deg, 0deg); 
}
.bj{
    left:560px;
    top:496px;
    transform: rotate( 14deg) scale(0.9) skew(0deg, 0deg); 
}
.bk{
    left:598px;
    top:505px;
    transform: rotate( 5deg) scale(0.8) skew(30deg, 0deg); 
}
.bl{
    left:368px;
    top:205px;
    transform: rotate( -85deg) scale(1.8) skew(30deg, 10deg); 
}
.bm{
    left:658px;
    top:185px;
    transform: rotate( 55deg) scale(2.8) skew(30deg, 10deg); 
}
.bn{
    left:483px;
    top:375px;
    transform: rotate( -5deg) scale(1) skew(0deg, 10deg); 
}
.bo{
    left:620px;
    top:611px;
    transform: rotate( -15deg) scale(1) skew(0deg, 10deg); 
}
.bp{
    left:380px;
    top:326px;
    transform: rotate( -95deg) scale(1.3) skew(0deg, 10deg); 
}
.bq{
    left:410px;
    top:236px;
    transform: rotate( -75deg) scale(2.0) skew(20deg, 10deg); 
}
.br{
    left:529px;
    top:228px;
    transform: rotate( -85deg) scale(1.4) skew(20deg, 10deg); 
}
.bs{
    left:442px;
    top:339px;
    transform: rotate( -30deg) scale(1) skew(20deg, 10deg); 
}
.bt{
    left:466px;
    top:375px;
    transform: rotate( -7deg) scale(0.65) skew(40deg, 20deg); 
}
.bu{
    left:696px;
    top:367px;
    transform: rotate( -20deg) scale(0.55) skew(20deg, 20deg); 
}
.bv{
    left:706px;
    top:347px;
    transform: rotate( 60deg) scale(2.0) skew(30deg, 20deg); 
}
.bw{
    left:696px;
    top:317px;
    transform: rotate( 60deg) scale(2.0) skew(30deg, 20deg); 
}
.bx{
    left:780px;
    top:207px;
    transform: rotate( 70deg) scale(1.9) skew(0deg, 0deg); 
}
.by{
    left:383px;
    top:422px;
    transform: rotate( -115deg) scale(0.5) skew(0deg, 0deg); 
}
.bz{
    left:523px;
    top:172px;
    transform: rotate( -80deg) scale(2.5) skew(40deg, 20deg); 
}
.ca{
    left:703px;
    top:182px;
    transform: rotate( 65deg) scale(1.6) skew(20deg, 10deg); 
}
.cb{
    left:703px;
    top:102px;
    transform: rotate( 35deg) scale(1.8) skew(20deg, 10deg); 
}
.cc{
    left:608px;
    top:567px;
    transform: rotate( 0deg) scale(1.0) skew(0deg, 0deg); 
}
.cd{
    left:528px;
    top:366px;
    transform: rotate( -48deg) scale(0.6) skew(30deg, 30deg); 
}
.ce{
    left:428px;
    top:366px;
    transform: rotate( -100deg) scale(1.6) skew(0deg, 0deg); 
}
.cf{
    left:547px;
    top:467px;
    transform: rotate( -110deg) scale(0.6) skew(0deg, 0deg); 
}
.cg{
    left:627px;
    top:495px;
    transform: rotate( -13deg) scale(0.6) skew(0deg, 0deg); 
}
.ch{
    left:397px;
    top:420px;
    transform: rotate( -103deg) scale(0.6) skew(0deg, 0deg); 
}
.ci{
    left:391px;
    top:470px;
    transform: rotate( -130deg) scale(0.4) skew(0deg, 0deg); 
}
.cj{
    left:415px;
    top:160px;
    transform: rotate( -78deg) scale(2.4) skew(10deg, 10deg); 
}
.ck{
    left:453px;
    top:380px;
    transform: rotate( -30deg) scale(1.5) skew(10deg, 10deg); 
}
.cl{
    left:790px;
    top:400px;
    transform: rotate( -100deg) scale(1.7) skew(10deg, 10deg); 
}
.cm{
    left:400px;
    top:475px;
    transform: rotate( -164deg) scale(0.45) skew(10deg, 10deg); 
}
.cn{
    left:470px;
    top:140px;
    transform: rotate( -70deg) scale(1.6) skew(30deg, 10deg); 
}
.co{
    left:517px;
    top:593px;
    transform: rotate( 30deg) scale(1) skew(10deg, 20deg); 
}
.cp{
    left:551px;
    top:558px;
    transform: rotate( -30deg) scale(0.7) skew(0deg, 0deg); 
}
.cq{
    left:631px;
    top:558px;
    transform: rotate( 30deg) scale(0.6) skew(0deg, 0deg); 
}
.cr{
    left:561px;
    top:607px;
    transform: rotate( 5deg) scale(0.45) skew(0deg, 0deg); 
}
.cs{
    left:696px;
    top:342px;
    transform: rotate( 95deg) scale(0.40) skew(0deg, 0deg); 
}
.ct{
    left:526px;
    top:122px;
    transform: rotate( -70deg) scale(2.3) skew(30deg, 20deg); 
}
.cu{
    left:470px;
    top:260px;
    transform: rotate( -125deg) scale(1.1) skew(30deg, 20deg); 
}
.cu{
    left:550px;
    top:498px;
    transform: rotate( 7deg) scale(0.6) skew(10deg, 10deg); 
}
.cv{
    left:630px;
    top:576px;
    transform: rotate( 0deg) scale(0.9) skew(0deg, 0deg); 
}
.cw{
    left:713px;
    top:315px;
    transform: rotate( 75deg) scale(2.8) skew(10deg, 10deg); 
}
.cx{
    left:688px;
    top:365px;
    transform: rotate( deg) scale(0.8) skew(10deg, 10deg); 
}
.cy{
    left:613px;
    top:548px;
    transform: rotate( -25deg) scale(0.5) skew(10deg, 10deg); 
}
.cz{
    left:573px;
    top:551px;
    transform: rotate( 15deg) scale(0.6) skew(10deg, 10deg); 
}
.da{
    left:473px;
    top:365px;
    transform: rotate( 15deg) scale(0.9) skew(0deg, 0deg); 
}
.db{
    left:495px;
    top:346px;
    transform: rotate( 90deg) scale(0.35) skew(0deg, 0deg); 
}
.dc{
    left:489px;
    top:370px;
    transform: rotate( 0deg) scale(1) skew(0deg, 0deg); 
}
.dd{
    left:685px;
    top:371px;
    transform: rotate( 0deg) scale(1) skew(0deg, 0deg); 
}
.de{
    left:735px;
    top:231px;
    transform: rotate( 40deg) scale(3.3) skew(20deg, 20deg); 
}
.df{
    left:535px;
    top:112px;
    transform: rotate( -60deg) scale(2.9) skew(20deg, 20deg); 
}
.dg{
    left:687px;
    top:340px;
    transform: rotate( -3deg) scale(0.45) skew(0deg, 0deg); 
}
.di{
    left:645px;
    top:476px;
    transform: rotate( 80deg) scale(0.6) skew(25deg, 25deg); 
}
.dj{
    left:658px;
    top:583px;
    transform: rotate( -60deg) scale(0.55) skew(5deg, 5deg); 
}
.dk{
    left:610px;
    top:124px;
    transform: rotate( -60deg) scale(3.3) skew(20deg, 20deg); 
}
.dl{
    left:750px;
    top:90px;
    transform: rotate( 15deg) scale(1.7) skew(20deg, 20deg); 
}
.dm{
    left:506px;
    top:35px;
    transform: rotate( -28deg) scale(1.3) skew(20deg, 20deg); 
}
.dn{
    left:702px;
    top:288px;
    transform: rotate( -20deg) scale(1.2) skew(10deg, 10deg); 
}
.do{
    left:492px;
    top:388px;
    transform: rotate( 0deg) scale(2.0) skew(0deg, 0deg); 
}
.dp{
    left:693px;
    top:388px;
    transform: rotate( 0deg) scale(2.0) skew(0deg, 0deg); 
}
.dq{
    left:493px;
    top:179px;
    transform: rotate( -70deg) scale(2.2) skew(20deg, 20deg); 
}
.dr{
    left:687px;
    top:100px;
    transform: rotate(30deg) scale(1.6) skew(20deg, 20deg); 
}
.ds{
    left:474px;
    top:265px;
    transform: rotate(-125deg) scale(1) skew(20deg, 20deg); 
}
.dt{
    left:474px;
    top:105px;
    transform: rotate(-80deg) scale(2.5) skew(20deg, 20deg); 
}
.du{
    left:904px;
    top:665px;
    transform: rotate(0deg) scale(3.4) skew(0deg, 0deg); 
}
.dv{
    left:984px;
    top:712px;
    transform: rotate(0deg) scale(3.4) skew(0deg, 0deg); 
}