body {
    font-family: sans-serif;
    
  }
  h1, h2 , h6 {
    font-weight: bold;
    color : #272727;
    text-align: center;
  }
  #studios > div {
    margin: 1em 0;
    padding: 0.5em;
    background: #f8f8f8;
    min-height: 3em;
  }
  .studio-title {
    font-weight: bold;
    font-size: 22px;
    color: #8effca;
    position:absolute;
  }


  #studios > div{
    display: flex;
    margin-bottom: 2em;
  }
  #studios > div:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .studio-image {
    width: 600px;
    height: 400px;
  }

  .description-ja {
    display: flex;
    background: #eee;


  }

  .core-ja{
    display: flex;   
  }